body { 
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px
  }
header{
    background-image: url(images/pic_1.jpg);
}
.container{
    display: flex;
    border: 5px solid black;
    justify-content: space-around;
    align-items: center;
    column-gap: em;
}
.section{
    display: flex;
    border: 5px solid black;
    background-color: #C271FF;
}
